<mat-card *ngIf="y">
    <div class="b">
        <span class="material-icons">
            account_circle
        </span>
        <span class="a">{{ userTitle }}</span>
    </div>
    <div class="row">
        <mat-divider></mat-divider>
        <div class="column">
            <p>user id:</p>
            <p>user name:</p>
            <p>user birthday:</p>
            <p>user sex:</p>
            <p>user risk:</p>
            <p>user card:</p>
            <p>user registered:</p>
            <p>user points:</p>
        </div>
        <div class="column">
            <p>{{ y.id }}</p>
            <p><input [(ngModel)]="y.name" /></p>
            <p>{{ y.birthday | date }}</p>
            <p>{{ y.sex }}</p>
            <p>{{ riskValue }}</p>
            <p>{{ cardName() }}</p>
            <p>{{ y.registered }}</p>
            <p>{{ summedPoints }}</p>
        </div>
    </div>
</mat-card>