<mat-card *ngIf="y">
    <div class="b">
        <span class="material-icons">
            account_circle
        </span>
        <span class="a">{{ userTitle }}</span>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="Personal Info">
            <div class="row">
                <div class="column">
                    <p>user id:</p>
                    <p>user name:</p>
                    <p>user birthday:</p>
                    <p>user sex:</p>
                </div>
                <div class="column">
                    <p>{{ y.id }}</p>
                    <p><input [(ngModel)]="y.name" /></p>
                    <p>{{ y.birthday | date }}</p>
                    <p>{{ y.sex }}</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Risk info">
            <div class="row">
                <div class="column">
                    <p>user risk:</p>
                    <p>user card:</p>
                    <p>user registered:</p>
                </div>
                <div class="column">
                    <p>{{ riskValue }}</p>
                    <p>{{ cardName() }}</p>
                    <p>{{ y.registered }}</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Points">
            <div class="row">
                <div class="column">
                    <p>summed points:</p>
                    <p>user points:</p>
                </div>
                <div class="column">
                    <p>{{ summedPoints }}</p>
                    <p>{{ points }}</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>