<mat-card *ngIf="this.users.length > 1">
    <mat-slide-toggle color="primary" [(ngModel)]="isFilterBarSlideToggleOn">
        <div *ngIf="!isFilterBarSlideToggleOn">Show more</div>
        <div *ngIf="isFilterBarSlideToggleOn">Show less</div>
    </mat-slide-toggle>
    <div *ngIf="isFilterBarSlideToggleOn">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="sortUsersByNameAscending()">sort names ascending</mat-button-toggle>
            <mat-button-toggle (click)="sortUsersByNameDescending()">sort names descending</mat-button-toggle>
            <mat-button-toggle (click)="sortRisksAscending()">sort risks ascending</mat-button-toggle>
            <mat-button-toggle (click)="sortRisksDescending()">sort risks descending</mat-button-toggle>
            <mat-button-toggle (click)="sortIdsAscending()">sort ids ascending</mat-button-toggle>
            <mat-button-toggle (click)="sortIdsDescending()">sort ids descending</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-divider></mat-divider>
    </div>
</mat-card>