<div>
    id: {{ x.id }}, name: {{ x.name }}, card: {{ cardName() }}, risk: {{ x.risk }}
    <progress max="100" value="{{ x.risk }}" title="risk: {{ x.risk }}"></progress>
    <input *ngIf="x.registered" type="checkbox" id="registered" name="registered" checked>
    <label *ngIf="x.registered" for="registered">registered</label>
    <input *ngIf="!x.registered" type="checkbox" id="notRegistered" name="notRegistered">
    <label *ngIf="!x.registered" for="notRegistered">not registered</label>
    <button (click)="deleteUser(x.id)">delete user</button>
</div>