<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. female" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> birthday </th>
            <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
        </ng-container>

        <ng-container matColumnDef="sex">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> sex </th>
            <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
        </ng-container>

        <ng-container matColumnDef="risk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> risk </th>
            <td mat-cell *matCellDef="let element"> {{element.risk}} </td>
        </ng-container>

        <ng-container matColumnDef="card">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> card </th>
            <td mat-cell *matCellDef="let element"> {{element.card}} </td>
        </ng-container>

        <ng-container matColumnDef="registered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> registered </th>
            <td mat-cell *matCellDef="let element"> {{element.registered}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>