<div class="x" *ngIf="this.users.length === 0">
    {{ message }}
</div>

<div *ngIf="this.users.length !== 0" style="display: block;">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <app-bar-chart></app-bar-chart>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-line-chart></app-line-chart>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-pie-chart></app-pie-chart>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-radar-chart></app-radar-chart>
        </mat-grid-tile>
    </mat-grid-list>
</div>