button {
  cursor: pointer;
  margin: 10px;
}

.a {
  display: flex;
  justify-content: center;
  padding-top: 40vh;
  color: #616161;
  font-size: 22px;
}

mat-card {
  margin: 10px;
}

.mat-form-field {
  margin-right: 8px;
}

.custom-scrollbar {
  position: relative;
  max-height: 320px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  background: #ccc;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #999;
}
