button {
    cursor: pointer;
    margin: 10px;
}

.a {
    display: flex;
    justify-content: center;
    padding-top: 40vh;
    color: #616161;
    font-size: 22px;
}

mat-card {
    margin: 10px;
}

mat-button-toggle-group {
    margin: 10px;
}