<app-user-filter-bar></app-user-filter-bar>

<mat-card *ngIf="this.users.length !== 0">
    <mat-selection-list  class="custom-scrollbar" [multiple]="false">
        <mat-list-option *ngFor="let user of users" (click)="onUserSelect(user)">
            <app-user-info (onUserDelete)="deleteUserFromList($event)" [x]="user"></app-user-info>
        </mat-list-option>
    </mat-selection-list>
</mat-card>

<div class="a" *ngIf="this.users.length === 0">
    {{ message }}
</div>

<button mat-stroked-button color="primary" (click)="addUser()">
    <span class="material-icons">
        create
    </span>add user</button>&nbsp;
<button *ngIf="this.users.length !== 0" mat-stroked-button color="warn" (click)="deleteUserFromList($event)">
    <span class="material-icons">
        delete
    </span>delete user</button>

<app-user-detail *ngIf="this.users.length !== 0" [y]="selectedUser"></app-user-detail>&nbsp;