<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="sortUsersByNameAscending()">sort names ascending</mat-button-toggle>
    <mat-button-toggle (click)="sortUsersByNameDescending()">sort names descending</mat-button-toggle>
    <mat-button-toggle (click)="sortRisksAscending()">sort risks ascending</mat-button-toggle>
    <mat-button-toggle (click)="sortRisksDescending()">sort risks descending</mat-button-toggle>
</mat-button-toggle-group>

<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let user of users" (click)="onUserSelect(user)">
        <app-user-info (onUserDelete)="deleteUserFromList($event)" [x]="user"></app-user-info>
    </mat-list-option>
</mat-selection-list>

<div *ngIf="this.users.length === 0">
    n/a
</div>

<button mat-stroked-button color="primary" (click)="addUser()">
    <span class="material-icons">
        create
    </span>add user</button>&nbsp;
<button mat-stroked-button color="warn" (click)="deleteUserFromList($event)">
    <span class="material-icons">
        delete
    </span>delete user</button>

<app-user-detail [y]="selectedUser"></app-user-detail>&nbsp;