<div class="y">
    id: {{ x.id }}, name: {{ x.name }}, card: {{ cardName() }}, risk: {{ riskValue }}
    <progress max="100" value="{{ x.risk }}" title="risk: {{ riskValue }}"></progress>
    <input *ngIf="x.registered" type="checkbox" id="registered" name="registered" checked>
    <label *ngIf="x.registered" for="registered">registered</label>
    <input *ngIf="!x.registered" type="checkbox" id="notRegistered" name="notRegistered">
    <label *ngIf="!x.registered" for="notRegistered">not registered</label>&nbsp;
    <button (click)="deleteUser(x.id)">delete user</button>
</div>