<div class="y">
    ID: {{ x.id }}, NAME: {{ x.name }}, CARD: {{ cardName() }}
    <mat-progress-bar [class]="getRiskColorClass(x.risk)" mode="determinate" max="100" value="{{ x.risk }}"
        matTooltip="risk: {{ riskValue }}"></mat-progress-bar>
    <mat-checkbox color="primary" [(ngModel)]="x.registered" [disabled]="false">Registered</mat-checkbox>
    <button mat-stroked-button color="warn" (click)="deleteUser(x.id)">
        <span class="material-icons">
            delete
        </span>delete user</button>
</div>